<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michael Bertagna - {{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0px;
      font-family: sans-serif;
      font-weight: 200;
      background-color: #e8faf3; /* Background color matching the body */
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      padding-top: 30px;
    }

    .nav {
      height: 50px;
      width: 100%;
      background-color: #e8faf3; /* Background color matching the body */
      position: relative;
      border-bottom: 1px solid #ccc; /* Add border to the bottom */
    }

    .nav > .nav-btn {
      display: none;
    }

    .nav > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
    }

    .nav > .nav-links > a {
      display: inline-block;
      padding: 14px 18px; /* Adjust padding for spacing */
      text-decoration: none;
      color: #4d4d4d; /* Text color matching the title */
      border-radius: 20px 20px 0 0; /* Add border radius for the bubble effect */
      background-color: #fff; /* Background color matching the main content */
      border: 1px solid #ccc;
      margin: 0 0; /* Adjust margin for spacing between bubbles */
      height: 50px;
    }

    .nav > .nav-links > a:hover {
      /* background-color: #ccc; Hover color for the bubbles */
      color: #ff6f00;
    }

    .nav > .nav-links > a.selected {
      border-bottom: none;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }

    .nav > #nav-check {
      display: none;
    }

    .title {
      font-size: 40px;
      font-family: "EB Garamond", sans-serif;
      color: #4d4d4d; /* Text color matching the body */
      text-align: center;
      margin-bottom: 20px;
    }

    .profile-circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
      vertical-align: middle;
      border: 1px solid #ccc;
    }

    .title > a {
      font-size: 40px;
      font-family: "EB Garamond", sans-serif;
      color: #4d4d4d; /* Text color matching the body */
      text-align: center;
      margin-bottom: 20px;
      text-decoration: none;
    }

    .title .fab {
      color: #4d4d4d; /* Icon color matching the body */
      margin-right: 10px;
    }

    .separator {
      border: none;
      border-top: 1px solid #ccc; /* Adjust the color to your preference */
      opacity: 0.5; /* Adjust the opacity to make it fainter */
      margin: 20px 0; /* Adjust the margin to create space above and below the separator */
    }

    .main-content {
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: none; /* Remove top border to avoid double border with navigation */
      padding: 20px;
    }

    @media (max-width:600px) {
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .nav > .nav-btn > label {
        display: inline-block;
        padding: 14px 18px; /* Adjust padding for spacing */
        text-decoration: none;
        color: #4d4d4d; /* Text color matching the title */
        border-radius: 20px 20px 0 0; /* Add border radius for the bubble effect */
        background-color: #fff; /* Background color matching the main content */
        border: 1px solid #ccc;
        margin: 0 0; /* Adjust margin for spacing between bubbles */
        height: 50px;
        font-size: 18px; /* Set the font size */
        cursor: pointer; /* Set cursor to pointer on hover */
      }

      .nav > .nav-links > a:hover {
        /* background-color: #ccc; Hover color for the bubbles */
        color: #ff6f00;
      }

      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }

      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #e8faf3;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }

      .nav > .nav-links > a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #4d4d4d; /* Text color matching the title */
        border-radius: 0 0 0 0; /* Add border radius for the bubble effect */
        background-color: #fff; /* Background color matching the main content */
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: none;
        margin: 0 0; /* Adjust margin for spacing between bubbles */
      }

      .nav > .nav-links > a.selected {
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: none;
      }

      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }

      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="title">
      <img src="/profile_photo.jpg" class="profile-circle" alt="Michael Bertagna">
      <a href="." class = >Michael Bertagna</a>
      <a href="https://github.com/mbertagna"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/bertagna/"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-btn">
        <label for="nav-check">
          <i class="fas fa-bars"></i>
        </label>
      </div>
      <div class="nav-links">
        {% for nav_title, nav_url in navigation_links[lang] %}
          <a href="{{ nav_url }}" {% if nav_title == title %}class="selected"{% endif %}>{{ nav_title }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="main-content">
      <div class="title">
        {{ description }}
      </div>
      <hr class="separator">
      <main>{% block content %}{% endblock %}</main>
    </div>
  </div>
</body>
</html>
