.profile .profile_inner img {
    width: 160px;
    height: 160px;
    max-width: 160px;
    max-height: 160px;
}

@media (max-width: 480px) {
    .profile .profile_inner img {
        width: 140px;
        height: 140px;
        max-width: 140px;
        max-height: 140px;
    }
}

