{# -*- coding: utf-8 -*- #}
{% block content %}
<!-- Begin post-list {{ post_list_id }} -->
<div id="{{ post_list_id }}">
    {% if posts %}
    <table>
        <tbody>
            {% for post in posts %}
            <tr class="post-list-item">
                <td><a href="{{ post.permalink(lang) }}">{{ post.title(lang)|e }}</a></td>
                <td>{{ post.formatted_date(date_format)|e }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<!-- End post-list {{ post_list_id }} -->
{% endblock %}
